{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

{#    welcome {{ user.fname }} je bent admin#}


    {% for story in storys %}
        <p>{{ story.title }}</p>
        <p>{{ story.description }}</p>
        <p>{{ story.date|date("m/d/Y") }}</p>
        <p>{{ story.member.fname }}</p>
        <p>  <a href="{{ path('app_update', {id: story.id}) }}">update</a></p>
        <p>  <a href="{{ path('app_delete', {id: story.id}) }}">delete</a></p>


    {% endfor %}

{% endblock %}
